html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(103, 146, 17);
}
a{
    text-decoration: none;
    color: aquamarine;
    font-size: 30px;
}
#container{
    position: relative;
    display: flex;
}
#profile{
    flex: 15%;
    display: block;
    position: relative;
    margin: 5% 2% 0 10%;
    width: 100%;
    height: 100%;
}
#info-cards{
    flex:55%;
    display: block;
    margin-top: 5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
}
#profile-photo{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 33%;
    margin: 20px;
}
#name{
    font-size: 35px;
    line-height: 35px;
}
#about,.card > ul > li{
    padding: 0 0 0 15px;
    position: relative;
    display: inline-block;
    width: 100%;
}
#name, #about > p{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
#email{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


nav li {
    margin: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.project {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img {
    max-width: 100%;
    height: auto;
}
.project {
    background-color: #078535;
    margin: 10px;
    padding: 20px;
    border: 1px solid #0beb34;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}